.login {
  &-card {
    width: 500px;
    margin: auto;
    background: #ffffff1a;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-container {
    display: flex;
    height: 100vh;
    // align-items: center;
    background-image: url("https://cdn1.matadornetwork.com/blogs/1/2013/09/blue-hour-Matador-SEO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

.card-header {
  text-align: center;
  color: #282323;

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.form-login {
  &__email {
    input {
      font-size: 16px; // Tăng kích thước chữ để cân đối hơn
    }
  }

  &__button {
    text-transform: uppercase;
    background-color: #0ba7acce;
    height: 32px; // Tăng chiều cao input
    font-size: 16px; // Tăng kích thước chữ để cân đối hơn
    padding: 10px; // Tăng padding giúp input nhìn thoáng hơn
    font-weight: 600;
  }
}
