@import "../../../styles/theme";

.footer {
  color: #fff;
  padding-top: 24px;
  background-color: $primary-color;

  .box-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .inner-wrap-box {
    margin-bottom: 24px;

    .footer-image img {
      max-width: 250px;
      height: auto;
    }

    .contact-list {
      .contact-item {
        display: flex;
        align-items: center;

        svg {
          font-size: 24px;
          margin-right: 8px;
        }

        span {
          color: $secondary-color;
          font-weight: 600;
        }
      }
    }
  }

  .box-list {
    a {
      color: inherit; // Giữ màu chữ như ban đầu
      text-decoration: none; // Xóa gạch chân mặc định
      display: block !important; // Đảm bảo Link hoạt động như một block để giữ layout của col-*

      &:hover {
        color: $secondary-color !important;
      }
    }
    .box-item {
      font-size: 13.5px;
    }
  }

  .box-desc {
    font-size: 13.5px;
  }

  .box-input-email {
    button {
      background-color: red;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .box-social {
    display: flex;
    gap: 12px; // Khoảng cách giữa các icon

    svg {
      cursor: pointer;
      font-size: 20px;
      transition: color 0.3s ease-in-out, transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
