@import "./styles/theme";

body {
  margin: 0;
  font-family: Arial, sans-serif; // Thay đổi font chữ
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Ẩn nút up/down trên Firefox */
  appearance: textfield; /* Ẩn nút up/down trên Chrome, Edge */
  border: none;
  outline: none; /* Ẩn hiệu ứng focus */
  text-align: center;
  width: 60px;
  font-size: 16px;
}

/* Ẩn nút tăng/giảm trên Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Khi input được focus, không hiển thị viền xanh */
input[type="number"]:focus {
  outline: none;
  box-shadow: none;
}
